<div style="position: fixed; z-index: 1; width: 100vw;height: auto; top: 0;">
    <nav >
        <ul style="list-style-type: none; display: flex; gap: 20px; background-color: lightgray; padding: 10px 10px; border-radius: 10px; justify-content: end; padding-right: 20px; ">
            <li><a href="{% url 'reporttop' %}">Report_views</a></li>
            <li><a href="{% url 'changepassword' %}">change Password</a></li>
            <li><a href="{% url 'adminuserview' %}">Users</a></li>
            <li><a href="{% url 'logout2'%}">logout</a></li>
            <li><a href="{% url 'adminhome' %}">Admin_Home</a></li>
             

        </ul>
    </nav>
    </div>